[*.cs]

# Default severity for analyzer diagnostics with category 'Major Code Smell'
dotnet_analyzer_diagnostic.category-Major Code Smell.severity = silent

# S3626: Jump statements should not be redundant
dotnet_diagnostic.S3626.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none
